<%- include('partials/header') %>

<div class="home">
  <%- include('partials/sidebar') %>
  <div class="right">
    <h1>Today</h1>
    <input
      type="text"
      class="form-control mainHomeInput"
      id="addtaskhome"
      placeholder="➕ Add new task"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal2"
    />
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal2"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="" action="">
              <div class="mb-3">
                <label for="input1" class="form-label">What are you upto?</label>
                <input
                  type="text"
                  class="form-control"
                  id="input1"
                  name="content"
                  placeholder="Breif text for what you want to accomplish."
                />
              </div>
              <div class="mb-3">
                <label for="input2" class="form-label"
                  >When do you want to complete it?</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="input2"
                  name="date"
                  placeholder="Date in DD/MM//YY"
                />
              </div>
              <div class="mb-3">
                <label for="input3" class="form-label">Tags</label>
                <div
                  class="btn-group"
                  role="group"
                  aria-label="Basic radio toggle button group"
                >
                  <input
                    type="radio"
                    class="btn-check"
                    name="home"
                    id="btnradio1"
                    autocomplete="off"
                    checked
                  />
                  <label class="btn btn-outline-primary" for="btnradio1"
                    >Home</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="personal"
                    id="btnradio2"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary" for="btnradio2"
                    >Personal</label
                  >
                  <input
                    type="radio"
                    class="btn-check"
                    name="office"
                    id="btnradio3"
                    autocomplete="off"
                  />
                  <label class="btn btn-outline-primary" for="btnradio3"
                    >Office</label
                  >
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  data-bs-dismiss="modal"
                >
                  Cancel
                </button>
                <button type="button" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% items.map((item)=>{ %>
    <div class="form-check">
      <form class="mainForm" method="post" action="/update">
        <input
          class="form-check-input toDo"
          type="checkbox"
          name="checkInput"
          value="<%= item._id %>"
          onChange="this.form.submit()"
          id="toDo"
          <% if(item.checked){ %>
            checked
         <% } %>
        ></input>
        <label class="form-check-label" for="toDo" name="checkValue"
        value=<%= item.checked %>>
          <%= item.content %>
          <span class="date"><%= item.date %></span>
        </label>
      </form>
        <form class="mainForm" method="post" action="/delete">
          <button class="trashButton" type="submit" name="deleteItem" value="<%=item._id%>">
            <i class="fa fa-trash fa-lg"></i>
          </button>
        </form>
    </div>
    <% }); %>
  </div>
</div>

<%- include('partials/footer') %>
